src/wROJA/Service References/StopsService/StopsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StopsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/StopsService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/StopsService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/StopsService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wROJAServer.domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStopsService_GetAllStops_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStops" />
  </wsdl:message>
  <wsdl:message name="IStopsService_GetAllStops_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStopsResponse" />
  </wsdl:message>
  <wsdl:message name="IStopsService_GetLinesForStop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesForStop" />
  </wsdl:message>
  <wsdl:message name="IStopsService_GetLinesForStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinesForStopResponse" />
  </wsdl:message>
  <wsdl:message name="IStopsService_GetTimetable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetable" />
  </wsdl:message>
  <wsdl:message name="IStopsService_GetTimetable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableResponse" />
  </wsdl:message>
  <wsdl:portType name="IStopsService">
    <wsdl:operation name="GetAllStops">
      <wsdl:input wsam:Action="http://tempuri.org/IStopsService/GetAllStops" message="tns:IStopsService_GetAllStops_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IStopsService/GetAllStopsResponse" message="tns:IStopsService_GetAllStops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinesForStop">
      <wsdl:input wsam:Action="http://tempuri.org/IStopsService/GetLinesForStop" message="tns:IStopsService_GetLinesForStop_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IStopsService/GetLinesForStopResponse" message="tns:IStopsService_GetLinesForStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimetable">
      <wsdl:input wsam:Action="http://tempuri.org/IStopsService/GetTimetable" message="tns:IStopsService_GetTimetable_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IStopsService/GetTimetableResponse" message="tns:IStopsService_GetTimetable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStopsService" type="tns:IStopsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStops">
      <soap:operation soapAction="http://tempuri.org/IStopsService/GetAllStops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinesForStop">
      <soap:operation soapAction="http://tempuri.org/IStopsService/GetLinesForStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimetable">
      <soap:operation soapAction="http://tempuri.org/IStopsService/GetTimetable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StopsService">
    <wsdl:port name="BasicHttpBinding_IStopsService" binding="tns:BasicHttpBinding_IStopsService">
      <soap:address location="http://localhost:8080/StopsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>