src/wROJA/Service References/StopsService/StopsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/StopsService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wROJAServer.domain" />
  <xs:element name="GetAllStops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wROJAServer.domain" minOccurs="0" name="GetAllStopsResult" nillable="true" type="q1:ArrayOfStop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesForStop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stopID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesForStopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wROJAServer.domain" minOccurs="0" name="GetLinesForStopResult" nillable="true" type="q2:ArrayOfLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeDetailsID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wROJAServer.domain" minOccurs="0" name="GetTimetableResult" nillable="true" type="q3:ArrayOfTimetable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>