src/wROJA/Service References/StopsService/StopsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wROJAServer.domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wROJAServer.domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stop" nillable="true" type="tns:Stop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStop" nillable="true" type="tns:ArrayOfStop" />
  <xs:complexType name="Stop">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommuneID" type="xs:int" />
      <xs:element minOccurs="0" name="CommuneName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteDetailsID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stop" nillable="true" type="tns:Stop" />
  <xs:complexType name="ArrayOfLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLine" nillable="true" type="tns:ArrayOfLine" />
  <xs:complexType name="Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteID" type="xs:int" />
      <xs:element minOccurs="0" name="WayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Line" nillable="true" type="tns:Line" />
  <xs:complexType name="ArrayOfTimetable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timetable" nillable="true" type="tns:Timetable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimetable" nillable="true" type="tns:ArrayOfTimetable" />
  <xs:complexType name="Timetable">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timetable" nillable="true" type="tns:Timetable" />
</xs:schema>